KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_VALID_EVENTS_TOPIC=valid_events
KAFKA_VALID_EVENTS_GROUP_ID=event_engine_valid_events_test1
UBID_MATCH_API_URL=http://localhost:8006/ubids/match
EVENT_CATEGORY_MATCH_API_URL=http://localhost:8006/event-categories/match
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
