KAFKA_BOOTSTRAP_SERVERS=localhost:9092
KAFKA_VALID_DEPARTMENT_RECORDS_TOPIC=valid_department_records
KAFKA_VALID_DEPARTMENT_RECORDS_GROUP_ID=ubid_engine_valid_department_records_test2
MILVUS_HOST=localhost
MILVUS_PORT=19530
MILVUS_COLLECTION_NAME=department_record_embeddings
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
